datacenter  = "{{ consul_datacenter }}"
bind_addr   = "{{ consul_bind_addr }}"
client_addr = "{{ consul_client_addr }}"
data_dir    = "{{ consul_data_dir }}"
encrypt     = "{{ consul_encrypt_key }}"
node_name   = "{{ consul_nodename }}"
performance {
  raft_multiplier = 1
}
server = {{ consul_boot_as_server }}

{% if consul_boot_as_server | bool %}
bootstrap_expect = {{ consul_boot_expect }}
ui = {{ consul_expose_ui }}
{% endif %}

{{ consul_extra_values }}
